.pickerForContext button {
  border: 0;
  border-radius: 0.25rem;
  background-color: var(--color-secondary-1-detail-1);
  color: var(--color-secondary-2-background);
  font-family: montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}

.pickerForContext button.is-active {
  background-color: var(--color-secondary-1-detail-3);
  color: var(--color-secondary-2-background);
}

.pickerForContext button:hover {
  background-color: var(--color-primary-detail-2);
  color: var(--color-primary-background);
}