.main {
  flex: 1;
  order: 2;
  max-height: calc(100vh - var(--layouts-header-height));
  overflow: auto;
  background-color: var(--color-primary-background);
  color: var(--color-primary-detail-1);
}

.main h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.main > article {
  min-width: 1000px;
  margin-top: 0-75em;
  margin-left: 0.75em;
  margin-right: 0.75em;
  font-family: sourceCodePro;
}