.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  order: 1;

  min-width: var(--layouts-sidebar-width);
  max-width: var(--layouts-sidebar-width);

  overflow: auto;
  padding-top: 17px;
  
  background-color: var(--color-secondary-1-background);
  color: var(--color-secondary-1-foreground);

  font-family: teko, sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.12rem;
  
}

.sidebar ul {
  list-style: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0em;
}

.sidebar li a {
  display: block;
  padding-inline-start: 1em;

  color: var(--color-primary-detail-2);
  text-decoration: none;
}

.sidebar li a.is-active {
  background-color: var(--color-primary-detail-2);
  color: var(--color-secondary-2-foreground);
}

.sidebar li a:hover {
  background-color: var(--color-secondary-1-detail-1);
  color: var(--color-primary-detail-3);
}